<aside
  id="default-sidebar"
  class="sticky shadow rounded-lg p-4 top-0 left-0 z-40 w-64 h-full border-r-2 border-red-200 transition-transform -translate-x-full sm:translate-x-0 hover:shadow-2xl hover:cursor-pointer hover:border-none"
  aria-label="Sidebar"
>
  <div
    class="h-full px-3 py-4 overflow-y-auto dark:bg-gray-800 flex flex-col justify-between"
  >
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="/blog/write"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-red-200 dark:hover:bg-gray-700 group"
        >
          <svg
            class="w-5 h-5 text-gray-900 rounded-lg"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 22C1 21.4477 1.44772 21 2 21H22C22.5523 21 23 21.4477 23 22C23 22.5523 22.5523 23 22 23H2C1.44772 23 1 22.5523 1 22Z"
              fill="#0F0F0F"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M18.3056 1.87868C17.1341 0.707107 15.2346 0.707107 14.063 1.87868L3.38904 12.5526C2.9856 12.9561 2.70557 13.4662 2.5818 14.0232L2.04903 16.4206C1.73147 17.8496 3.00627 19.1244 4.43526 18.8069L6.83272 18.2741C7.38969 18.1503 7.89981 17.8703 8.30325 17.4669L18.9772 6.79289C20.1488 5.62132 20.1488 3.72183 18.9772 2.55025L18.3056 1.87868ZM15.4772 3.29289C15.8677 2.90237 16.5009 2.90237 16.8914 3.29289L17.563 3.96447C17.9535 4.35499 17.9535 4.98816 17.563 5.37868L15.6414 7.30026L13.5556 5.21448L15.4772 3.29289ZM12.1414 6.62869L4.80325 13.9669C4.66877 14.1013 4.57543 14.2714 4.53417 14.457L4.0014 16.8545L6.39886 16.3217C6.58452 16.2805 6.75456 16.1871 6.88904 16.0526L14.2272 8.71448L12.1414 6.62869Z"
              fill="#0F0F0F"
            />
          </svg>
          <span class="ms-3">Write</span>
        </a>
      </li>

      <li>
        <a
          href="/u/dashboard"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-red-200 dark:hover:bg-gray-700 group"
        >
          <svg
            class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 21"
          >
            <path
              d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"
            />
            <path
              d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"
            />
          </svg>
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      {{!-- <li>
        <a
          href="/u/analytics"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-red-200 dark:hover-bg-gray-700 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 18"
          >
            <path
              d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
            ></path>
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Analytics</span>
        </a>
      </li> --}}
    </ul>
    <ul class="space-y-2 font-medium">

      <li>
        <a
          href="/auth/logout"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-red-200 dark:hover:bg-gray-700 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"
            ></path>
            <path
              d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.004 2.967 2.967 0 0 0 3.695.176 2.961 2.961 0 0 1 .854 1.057l1.177 2.952a2.957 2.957 0 0 0-.34 1.484l.658 3.927a2.96 2.96 0 0 1-.933 2.726 2.966 2.966 0 0 0-1.353.975l-2.315-1.579a2.972 2.972 0 0 1-1.057-.853l-2.952-2.953a2.968 2.968 0 0 0-.175-3.694 2.963 2.963 0 0 1 1.004-.81l1.579-2.315a2.966 2.966 0 0 0-.976-1.352 2.964 2.964 0 0 1-2.726-.934l-3.928.658a2.966 2.966 0 0 0-2.08 1.456 2.963 2.963 0 0 1-.854 1.057L2.295 6.37a2.963 2.963 0 0 0 .81-1.004 2.962 2.962 0 0 1-.177-3.695 2.963 2.963 0 0 0-1.057-.854L.161 2.295a2.964 2.964 0 0 0-.002 4.194l2.314 2.315a2.963 2.963 0 0 1 .853 1.057l3.927.658a2.962 2.962 0 0 0 1.352-.975Z"
            ></path>
            <path
              d="M15 0h4.87a2.96 2.96 0 0 0-1.067-.878l-2.314-2.315A2.962 2.962 0 0 0 15 0Z"
            ></path>
            <path
              d="M15 15h4.87a2.96 2.96 0 0 0 1.067.878l2.314 2.315A2.962 2.962 0 0 0 20 15Z"
            ></path>
            <path
              d="M5 15H.13a2.96 2.96 0 0 0 .75 1.293l2.315 2.314A2.961 2.961 0 0 0 5 15Z"
            ></path>
          </svg>
          <span class="ms-3">Sign Out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>