<nav class="bg-red-100 py-4 border-gray-200 dark:bg-gray-900 border-b-black">
  <div class="w-4/5 mx-auto">
    <div class="max-w-screen-xl flex justify-between">
      <!-- Brand Info -->
      <div class="flex items-center space-x-3">
        <a href="/" class="flex items-center space-x-3">
          <img src="/img/nav/icon.png" class="h-8" alt="Blog It" />
          <span
            class="text-2xl font-semibold font-mono whitespace-nowrap dark:text-white"
          >Blog It</span>
        </a>
      </div>

      <!-- Search Bar -->
      <form
        class="flex items-center h-auto space-x-3 flex-col my-2"
        action="/home"
        method="get"
      >
        <label
          for="default-search"
          class="text-sm font-medium text-gray-900 sr-only dark:text-white"
        >Search</label>
        <div class="relative flex flex-row justify-start">
          <div
            class="absolute inset-y-0 start-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>

          <input
            type="search"
            id="default-search"
            name="search"
            class="block w-64 pl-10 text-sm text-black border border-red-100 rounded-lg bg-red-50 focus:ring-red-400 focus:outline-none focus:border-red-500 dark:bg-gray-700"
            placeholder="Search..."
            {{#if query.search}}
              value="{{query.search}}"
            {{/if}}
          />
          <button
            type="submit"
            class="text-grey-900 ml-2 bg-red-300 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-400 font-medium rounded-xl text-sm px-4 py-2"
          >Search</button>
        </div>
      </form>

      {{#if user}}
        <!-- User Menu -->
        <div class="flex flex-row justify-end">

          <a href="/u/dashboard" class="flex flex-col items-center my-auto">
            <button
              type="submit"
              class="text-grey-900 bg-red-300 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-xl text-sm px-4 py-2"
            >Dashboard</button>
          </a>
          <img
            class="w-8 h-8 ml-4 rounded-full my-auto"
            src="/img/profile-user.png"
            alt="user photo"
          />
        </div>
      {{else}}
        <div class="flex flex-row justify-end"><a
            href="/auth/login"
            class="flex flex-col items-center my-auto"
          >
            <button
              type="submit"
              class="text-grey-900 bg-red-300 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-xl text-sm px-4 py-2"
            >Sign In</button>
          </a>
        </div>
      {{/if}}
    </div>
  </div>
</nav>