<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timeless</title>
    <link rel="stylesheet" href="/styles/global.css" type="text/css">
</head>
<body>
    <nav>
        <div id="nav-left">
            <a href="/home"><h1 id="nav-title">timeless</h1></a>
            {{!-- <a href="/home"><img src="/img/nav/icon.png" alt="app-icon" height="40px" width="40px"></a> --}}
            <div id="search-container">
                <img src="/img/nav/search.png" alt="search-icon" width="20px" height="20px">
                <form action="/home" method="GET" id="search-form">
                    <input type="text" name="q" placeholder="Search">
                </form>
            </div>
        </div>            

        <ul id="nav-right">
                {{#if user}}
                    <li id="nav-write">
                        <a href="/blog/write">
                            <img src="/img/nav/write.png" alt="write-icon" width="20px" height="20px">
                            Write
                        </a>
                    </li>
                    <li id="nav-dashboard">
                        <a href="/u/dashboard">
                            <img id="profile-pic" src="/img/nav/profile.png" alt="profile-icon">
                        </a>
                    </li>
                {{else}}
                    <li><a class="auth-btn" href="/auth/login">Sign In</a></li>
                    <li><a class="auth-btn" href="/auth/register">Sign Up</a></li>
                {{/if}}
        </ul>
    </nav>  
    <div id="content">
        {{{ body }}}
    </div>
    <footer>
        <p>&copy; Sashank Neupane</p>
    </footer>
</body>

</html>
