<link rel="stylesheet" href="/styles.css" />
<div
  class="flex min-h-screen items-center justify-center px-6 py-12 lg:px-8 bg-red-100"
>
  <div class="bg-red-50 w-full max-w-sm p-6 rounded-lg shadow-lg">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img
        class="mx-auto h-10 w-auto"
        src="/img/nav/icon.png"
        alt="Your Company"
      />
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >Sign in to your account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="/auth/login" method="POST">
        <div>
          <label
            for="username"
            class="block text-sm font-medium leading-6 text-gray-900"
          >Username</label>
          <div class="mt-2">
            <input
              id="username"
              name="username"
              type="text"
              required
              class="block pl-2 w-full rounded-md border border-gray-300 py-2 text-gray-900 shadow-sm focus:ring-2 focus:ring-red-600 placeholder:text-gray-400 focus:outline-none"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label>
          </div>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              required
              class="block pl-2 w-full rounded-md border border-gray-300 py-2 text-gray-900 shadow-sm focus:ring-indigo-600 placeholder:text-gray-400 focus:ring focus:outline-none"
            />
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-red-300 px-3 py-2 text-sm font-semibold leading-5 text-grey-900 shadow-sm hover:bg-red-400 focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-offset-2 focus:ring-offset-gray-100"
          >Sign in</button>
        </div>
      </form>

      <p class="mt-6 text-center text-sm text-gray-500">
        Not a member?
        <a
          href="/auth/register"
          class="font-semibold text-red-900 hover:text-red-600"
        >Register</a>
      </p>
    </div>
  </div>
</div>