<div
  class="flex min-h-screen items-center justify-center px-6 py-12 lg:px-8 bg-red-100"
>
  <div class="bg-red-50 w-full max-w-md p-6 rounded-lg shadow-lg">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img
        class="mx-auto h-10 w-auto"
        src="/img/nav/icon.png"
        alt="Your Company"
      />
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >Create an account</h2>
    </div>

    <div class="mt-10">
      <form
        id="registration-form"
        class="space-y-4 md:space-y-6"
        action="/auth/register"
        method="post"
      >
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@company.com"
            required
          />
        </div>
        <div>
          <label
            for="username"
            class="block mb-2 text-sm font-medium text-gray-900"
          >Your Username</label>
          <input
            type="username"
            name="username"
            id="username"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name123"
            required
          />
        </div>
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>
        <div>
          <label
            for="confirm-password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Confirm password</label>
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>

        <!-- Minimal Terms and Conditions -->
        <div class="mt-4">
          <p class="text-sm text-gray-600">
            By creating an account, you agree to our
            <a
              data-modal-show="default-modal"
              href="#"
              class="text-primary-600 underline hover:cursor-pointer"
            >Terms and Conditions</a>.
          </p>
        </div>

        <div
          id="main-modal"
          class="z-1 flex items-start ml-3 text-sm modal-container"
        >
          <!-- Main modal -->
          <div
            id="default-modal"
            class="hidden fixed z-41 inset-0 items-center justify-center modal-content"
          >
            <div
              class="relative p-4 w-full max-w-md max-h-full custom-modal-width"
            >
              <!-- Modal content -->
              <div class="relative bg-pink-50 rounded-2xl shadow">
                <!-- Modal header -->
                <div
                  class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
                >
                  <h3 class="text-xl font-semibold text-gray-900">
                    Terms of Service
                  </h3>
                  <button
                    type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="default-modal"
                  >
                    <svg
                      class="w-3 h-3"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 14"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                      />
                    </svg>
                    <span class="sr-only">Close modal</span>
                  </button>
                </div>
                <!-- Modal body -->
                <div class="text-base leading-relaxed p-8 text-gray-700">
                  <p class="mb-4 p-4">
                    By using our blog platform, you agree to abide by our
                    <a href="#" class="text-primary-600">Terms of Service</a>.
                    Please read the following terms and conditions carefully:
                  </p>

                  <ol class="list-decimal pl-8">
                    <li class="mb-2">
                      <span class="font-semibold underline">Content Ownership:</span>
                      All content posted on the blog remains the property of the
                      respective content creators.
                    </li>
                    <li class="mb-2">
                      <span class="font-semibold underline">Community
                        Guidelines:</span>
                      Users are expected to adhere to our community guidelines,
                      promoting
                      <span class="text-primary-600">respectful</span>
                      and
                      <span class="text-primary-600">constructive</span>
                      interactions.
                    </li>
                    <li class="mb-2">
                      <span class="font-semibold underline">Privacy Policy:</span>
                      Your privacy is important to us. Please review our
                      <a href="#" class="text-primary-600 underline">Privacy
                        Policy</a>
                      for details on how we collect, use, and protect your
                      personal information.
                    </li>
                    <li class="mb-2">
                      <span class="font-semibold underline">Prohibited Content:</span>
                      Users are prohibited from posting content that violates
                      any applicable laws or our content guidelines.
                    </li>
                    <li class="mb-2">
                      <span class="font-semibold underline">Account Security:</span>
                      Users are responsible for maintaining the security of
                      their accounts, including passwords and login credentials.
                    </li>
                    <li class="mb-2">
                      <span class="font-semibold underline">Termination of
                        Accounts:</span>
                      We reserve the right to terminate accounts that violate
                      our terms of service or community guidelines.
                    </li>
                  </ol>

                  <p class="text-red-900 mt-4">
                    Please note that you won't be able to change your password.
                    So, please make sure you use a secure password and keep it
                    safe.
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-red-300 px-3 py-2 text-sm font-semibold leading-5 text-grey-900 shadow-sm hover:bg-red-400 focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-offset-2 focus:ring-offset-gray-100"
          >Create an account</button>
        </div>
      </form>
      <p class="mt-6 text-center text-sm text-gray-500">
        Already have an account?
        <a
          href="/auth/login"
          class="font-semibold text-red-900 hover:text-red-600"
        >Login</a>
      </p>
    </div>
  </div>
</div>

<style>
  .blurry-background { filter: blur(10px); } .custom-modal-width { max-width:
  50rem; }
</style>
<script src="/js/auth/registration.mjs"></script>