<link rel="stylesheet" href="/styles/register.css" type="text/css">
<div class="register-form-wrapper">
    <form action="/auth/register" method="post">

        <label for="name">First Name</label>
        <input type="text" name="firstname" id="firstname" placeholder="Enter your first name" required>

        <label for="name">Last Name</label>
        <input type="text" name="lastname" id="lastname" placeholder="Enter your last name" required>

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username" required>


        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" required>

        <button type="submit">Register</button>

    </form>
</div>