<link rel="stylesheet" href="/styles.css" />

<div class="blog-create-wrapper bg-red-100 border p-4 rounded-lg shadow-md">
  <div class="mx-auto w-4/5 h-full">
    <header class="text-center">
      <h1 class="text-2xl font-semibold font-mono">Create a Blog Post</h1>
    </header>
    <div class="blog-create-form">
      <form action="/blog/write" method="post">
        <div class="mb-4">
          <label for="title" class="block font-medium">Title</label>
          <input
            type="text"
            name="title"
            placeholder="Enter the title of your blog"
            required
            class="w-full px-3 bg-red-50 py-2 border rounded-md focus:outline-none focus:ring focus:ring-primary-400"
          />
        </div>

        <div class="mb-4">
          <label for="content" class="block font-medium">Content</label>
          <textarea
            name="content"
            placeholder="Write your blog content"
            rows="8"
            required
            class="w-full px-3 bg-red-50 py-2 border rounded-md focus:outline-none focus:ring focus:ring-primary-400"
          ></textarea>
        </div>

        <div class="mb-4">
          <label for="tags" class="block font-medium">Tags</label>
          <input
            type="text"
            name="tags"
            placeholder="Add tags (comma-separated)"
            class="w-full bg-red-50 px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-primary-400"
          />
        </div>

        <button
          type="submit"
          class="px-10 self-center text-gray-900 py-2 border-red-400 border-2 rounded-md hover:bg-red-400 focus:ring-4 focus:ring-red-600"
        >
          Create Blog
        </button>
      </form>
    </div>

  </div>

</div>