<link rel="stylesheet" href="/styles/create-blog.css" />
<div class="blog-create-wrapper">
  <header>
    <h1>Create a Blog Post</h1>
  </header>
  <div class="blog-create-form">
    <form action="/blog/write" method="post">
      <label for="title">Title</label>
      <input
        id="write-blog-title"
        type="text"
        name="title"
        id="title"
        placeholder="Enter the title of your blog"
        required
      />

      <label for="content">Content</label>
      <textarea
        id="write-blog-content"
        name="content"
        id="content"
        placeholder="Write your blog content"
        rows="8"
        required
      >
      </textarea>

      <label for="tags">Tags</label>
      <input
        type="text"
        name="tags"
        id="write-blog-tags"
        placeholder="Add tags (comma-separated)"
      />

      <button id="write-blog-submit" type="submit">Create Blog</button>
    </form>
  </div>
</div>