.edit-blog {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    min-width: 800px;
}


h1 {
    font-weight: normal;
    font-size: 36px;
    margin: 10px 0;
}

a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

.form-group {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

button[type="submit"] {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #005f8d;
}

a[href="/dashboard"] {
    color: #0077b6;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

a[href="/dashboard"]:hover {
    text-decoration: underline;
}