.blog-create-wrapper {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background */
    border: 1px solid #ddd; /* Light grey border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    width: 80%;
}

.blog-create-form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 15px;
}

#write-blog-title,
#write-blog-tags,
#write-blog-content {
    width: 100%;
    padding: 15px; /* Increase padding to add space within input fields */
    margin: 10px 0; /* Increase margin to separate input fields */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px;
}

#write-blog-submit {
    background-color: #000; /* Black background for the button */
    color: #fff; /* White text color for the button */
    padding: 15px; /* Increase padding to add space within the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Increase margin to separate the button */
}

#write-blog-submit:hover {
    background-color: #333; /* Slightly darker background on hover */
}