.login-wrapper {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background */
    border: 1px solid #ddd; /* Light grey border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    max-width: 80%;
    text-align: center; /* Center align the form */
}

form {
    display: inline-block;
    text-align: left; /* Left-align the form elements */
}

label {
    font-weight: bold;
    display: block; /* Place labels on separate lines */
    margin-top: 15px; /* Increase margin to create space between labels and inputs */
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 15px; /* Increase padding to add space within input fields */
    margin: 10px 0; /* Increase margin to separate input fields */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px;
}

button {
    background-color: #000; /* Black background for the button */
    color: #fff; /* White text color for the button */
    padding: 15px; /* Increase padding to add space within the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Increase margin to separate the button from the inputs */
}

button:hover {
    background-color: #333; /* Slightly darker background on hover */
}