/* Style the user-blogs-wrapper */
.user-blogs-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.user-blogs-wrapper ul {
    display: flex;
    flex-direction: column;
}

.user-blogs-wrapper a {
    background: none;
    text-decoration: none;
}

.user-blogs-wrapper a:hover {
    background: none;
}

/* Style the heading */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Style the blog list */
.blog-list {
    list-style: none;
    padding: 0;
}

.blog-post {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px; /* Change margin to stack vertically */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Style the blog title */
h2 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

/* Style the publication date */
.date {
    color: #888;
    margin-top: 5px;
}

/* Style the blog content */
p {
    margin-top: 10px;
}

p .date {
    font-style: italic;
}

/* Style the message when no blogs are available */
p {
    color: #888;
}

/* Style the back to home link */
a {
    display: block;
    margin-top: 20px;
    color: #0077FF;
    text-decoration: none;
}

/* Define link hover effect */
a:hover {
    text-decoration: underline;
}